{
  "extends": ["stylelint-config-recommended-scss"],
  "plugins": ["stylelint-scss"],
  "rules": {
    "selector-max-id": 0,
    "max-nesting-depth": 3,
    "no-duplicate-selectors": true,
    "color-named": "never",
    "selector-class-pattern": "^[a-z0-9-]+(__[a-z0-9-]+)?(--[a-z0-9-]+)?$"
  }
}