@use "../variables";

/* =========================================================
  MODULES: COMPONENTS REUTILITZABLES
========================================================= */

/* MÒDUL TARGETA */
.targeta {
  margin: 20px;
  color: variables.$color-clar;
  border-radius: 2rem;
  max-width: 800px;
  padding: 2rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
              0 2px 4px -1px rgba(0, 0, 0, 0.06);
  font-family: 'Special Elite', cursive;

  @media (min-width: variables.$mqMinWidthDesktop) {
    margin: auto; 
  }
}