@use "sass:color";
@use "../variables";

/* =========================================================
  LAYOUT: ESTRUCTURA PRINCIPAL
========================================================= */

// El fons de la pàgina defineix l'estructura visual global
main {
  background-image: url('../images/cel2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 0; 
}

/* HEADER */
header {
  background-color: variables.$color-verdFosc; 
}

header > h1 {
  color: variables.$color-clar;
  font-size: 3rem;
  font-family: 'Beth Ellen', cursive;
  padding: 20px 20px 20px 40px;

  i { 
    margin-right: 15px;
    color: color.adjust(variables.$color-verdClaret, $lightness: 10%);
  }
}

header > p {   
  color: variables.$color-clar;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  font-family: 'Noto Sans Sunuwar', sans-serif;
  border-top: 1px solid rgba(variables.$color-verdClaret, 0.3);
  padding: 20px 20px 20px 40px;
}


/* FOOTER */
.footer {
  padding: 1.5rem 0;
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
  color: variables.$color-clar;
  background-color: variables.$color-verdFosc;
  font-family: 'Noto Sans Sunuwar', sans-serif;
}
