<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top navbar-custom">
  <div class="site-container">
    <a class="navbar-brand brand-logo" href="./index.html">
      <i class="fa-solid fa-leaf"></i>
      <span>Artesania</span>
    </a>

    <!-- Botó en pantalles xicotetes -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navMenu"
      aria-controls="navMenu"
      aria-expanded="false"
      aria-label="Obrir menú de navegació"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto gap-2">
        <li class="nav-item">
          <a class="nav-link" href="./index.html">Portada</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./ponents.html">Ponents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./article.html">Informació</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./contacte.html">Contacte</a>
        </li>
      </ul>
    </div>
  </div>
</nav>