@use "variables";

/* =========================================================
  RESTAUREM VALORS (Resets)
  S'apliquen a tota la base del document.
========================================================= */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================================================
  ESTIL LLISTES
========================================================= */
ul {
  list-style: none;
}

/* =========================================================
  ESTIL ENCAPÇALAMENTS (Selectors d'etiqueta)
========================================================= */
h2 {
  color: variables.$color-verdFosc;
  border-bottom: 1px solid rgba(variables.$color-verdClaret, 0.3);
  padding-bottom: 5px;
}

h3 {
  color: variables.$color-verdClaret;
  border-bottom: 1px solid rgba(variables.$color-verdClaret, 0.3);
  padding-bottom: 5px;
  font-family: 'Special Elite', cursive;
}