@use "sass:color"; // Importa el mòdul de Sass per poder modificar colors (aclarir, enfosquir, etc.)

$font-family-sans-serif:
  -apple-system, // Font del sistema en Mac/iOS
  BlinkMacSystemFont, // Variant per navegadors basats en Chromium
  "Segoe UI", // Font típica de Windows
  Roboto, // Font d’Android
  "Helvetica Neue", // Font molt usada en disseny web
  Arial, // Font estàndard
  sans-serif, // Tipus genèric si no es troba cap anterior
  "Apple Color Emoji", // Emojis en Apple
  "Segoe UI Emoji", // Emojis en Windows
  "Segoe UI Symbol"; // Símbols en Windows

$font-family-serif: 
  "Georgia", // Font serif elegant
  "Times New Roman", // Font clàssica
  serif; // Tipus genèric serif

$mqMinWidth: 420px; // Amplada responsive
$mqMinWidthDesktop: 992px; // Amplada responsive

// Definició de colors per al meu paratge
$color-clar: #F9F2E4;
$color-verdClaret: #9FBF5A;
$color-verdFosc: #30645a;
$color-marro: #a56953;
$color-groc: #FFEA00;


// Definim una unitat base d'espaiat
$base-spacing: 8px;
