@use "sass:color"; // Importa el mòdul de Sass per poder modificar colors (aclarir, enfosquir, etc.)

$font-family-sans-serif:
  -apple-system, // Font del sistema en Mac/iOS
  BlinkMacSystemFont, // Variant per navegadors basats en Chromium
  "Segoe UI", // Font típica de Windows
  Roboto, // Font d’Android
  "Helvetica Neue", // Font molt usada en disseny web
  Arial, // Font estàndard
  sans-serif, // Tipus genèric si no es troba cap anterior
  "Apple Color Emoji", // Emojis en Apple
  "Segoe UI Emoji", // Emojis en Windows
  "Segoe UI Symbol"; // Símbols en Windows

$font-family-serif: 
  "Georgia", // Font serif elegant
  "Times New Roman", // Font clàssica
  serif; // Tipus genèric serif

$uoc-corporate: #000078; // Color corporatiu principal (blau fosc)

$uoc-masterbrand: #73edff; // Color principal de marca (blau clar)

$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%); 
// Agafa el color de marca i li augmenta la lluminositat un 70%
// → resultat: un color més clar, ideal per a fons

$mqMinWidth: 420px; // Amplada responsive
$mqMinWidthDesktop: 992px; // Amplada responsive

// Definició de colors per al meu paratge
$color-clar: #F9F2E4;
$color-verdClaret: #9FBF5A;
$color-verdFosc: #30645a;
$color-marro: #a56953;